services:
  database:
    image: &postgres postgres:16
    container_name: ziscar_db
    environment:
      - POSTGRES_USER=${DB_USERNAME}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=${DB_NAME}
      - PGPORT=${DB_PORT}
    volumes:
      - db-data:/var/lib/postgresql/data
    # network_mode: host
    env_file:
      - path: .env
        required: false
    restart: ${RESTART_POLICY:-no}

  test_database:
    image: *postgres
    container_name: test_ziscar_db
    environment:
      - POSTGRES_USER=test_user
      - POSTGRES_PASSWORD=test_admin
      - POSTGRES_DB=test_ziscar
      - PGPORT=9862
    volumes:
      - test-db-data:/var/lib/postgresql/data
    network_mode: host

  frontend:
    build:
      context: .
      dockerfile: frontend.Dockerfile
    container_name: ziscar_frontend
    network_mode: host

  backend:
    build:
      context: .
      dockerfile: backend.Dockerfile
      args:
        - APP_ENV=${APP_ENV:-dev}
    container_name: ziscar_backend
    network_mode: host
    restart: ${RESTART_POLICY:-no}

  k6:
    image: grafana/k6
    volumes:
      - ./shared:/shared
      - ./test/load:/test/load
    env_file:
      - path: .env
        required: false
    environment:
      - EMAIL=${APP_EMAIL}
      - PASSWORD=${APP_PASSWORD}

volumes:
  db-data:
  test-db-data:
